<ion-view view-title="Dashboard">
  <ion-content class='padding' scroll=false>
    <div class='wrapper-dash'>
    <div class="camera">
        <button class='camera-button' ng-click="takePic()"></button>
        <p class="no-of-images"> </p> <!-- insert the no. of images added here-->
        <div class="card">
          <div class="item item-image padding" ng-repeat="x in imgSrc">
            {{x}}
            <!--<img class="image" ng-src="{{imgSrc}}">-->
          </div>
        </div>
    </div>
    <div class="convert-wrap">
        <button class="convert" value="CONVERT" ng-click="convert()">CONVERT</button>
      </div>
    </div>
  </ion-content>
</ion-view>>
