/* My CSS */

/* Dashboard CSS */
.wrapper-dash{
    margin-left: 20%;
    margin-top: 5%;
}

.image{
 height: 50px;
}
.camera-button{
    background-image: url(../img/camera.jpeg);
    background-position: -1px -132px;
    padding: 75px;
    border-radius: 50%;
    border: 1px;
    background-size: 431px;
    margin-left: 22px;
}

.no-of-images{
    margin-top: 11%;
    margin-left: 29%;
    font-size: 1.5em;
    

}
.convert{
    border: 2px solid grey;
    background-color: #1168f4;
    font-size: 1.6em;
    border-radius: 10px;

}
.upload-wrap{
    margin-top: 15%;
    margin-left: 15%;
}
.convert-wrap{
    margin-top: 15%;
    margin-left: 15%;

}

/* About */
.about-wrap{
    padding: 10px;
}
.about-wrap h2{
    padding: 10px;
}
.about-wrap ul{
    padding: 10px;
} 
.about-wrap li{
    padding: 10px;
}
.output{
    padding: 20px;
}